# Folder
/build

# Executable file
*.elf
*.rpx
*.wuhb

# Archive
*.zip

# Programmer's Notepad state file
*.pnps

# Visual Studio Code
.vscode/*
!.vscode/tasks.json

# Windows thumbnail cache
Thumbs.db
